<h1>First impression of my page</h1>

<!--/*thymesVar id="variable" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${variable}"></span>

<br>

<!--/*thymesVar id="one" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${mathOperation1}"></span>
<span th:text="${two} * ${two}"></span>
<br>
<span th:text="${mathOperation2}"></span>
<span th:text="${two} + (${two} * ${two})"></span>
<br>
<span th:text="${mathOperation3}"></span>
<span th:text="${two} - (${two} * ${two})"></span>